/* Techstack.css */

.tech-icons {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .tech-icons:hover {
    background-color: transparent; 
  }
  
  .tech-icon-name {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 5px;
    font-size: 9px;
    width: 100%;
    text-align: center;
    
  }
  
 
  